.App {
  text-align: center;
}

tbody{
  border-bottom: 2px solid #228B22;

}

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  height: 40px;
  padding: 2px;
  color: white;
  background-color: #228B22;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}


tr{ 
  height: 40px;
  padding: 2px;
  text-align: left;
  background-color:#e6e8e6;
  border-bottom: 1px solid #dddddd;
}

.button{
  display: flex;
  justify-content: center;
}

button{
  background-color: #228B22;
  color: white;
  padding: 5px;
  margin: 20px;
  border-radius: 2px;
  border:none;
  cursor: pointer;
}

p{
  width: 25px;
  background-color: #228B22;
  color: white;
  padding: 5px;
  margin: 20px;
  border-radius: 2px;
  border:none;
}



